body{
  background-color:#FFFCE6;
}

/*Navigation*/
nav{
  background-color: #2F4F4F;
  font-size: 25px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li{
  color: black;
  text-decoration: none;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

nav a:hover{
  background-color: whitesmoke;
  color: black;
}

/*Sign in page*/
body#signIn{
  margin: auto;
  font-size: 25px;
}

/*Forms*/
form {
  margin: auto;
  margin-top: 130px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1, h2 {
  color: #333;
  font-size: 30px;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

form p{
  font-size: 15px;
}

/*Store page*/
#store{
  width: 80%;
  margin: auto;
  text-align: center;
}

#store button#showAll{
  background-color: #ff8c00;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

#store button#showAll:hover{
  background-color: #e07d00;
}

.addToCartButton{
  background-image: url('/public/cart.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 15px 15px;
  color: #fff; 
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  width: 5px;
  height: 5px;
  vertical-align: text-bottom;
}

#all-items-list {
  margin-top: 20px;
  text-align: left;
}

#all-items-list {
  list-style: none;
  padding: 0;
}

#all-items-list li {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
}

#all-items-list li p{
  margin: 5px 0px;
}

.itemDetails{
  padding-left: 5px;
}

#addToCartMessage{
  font-size: 20px;
}

/*Products page*/
#productsPage{
  width: 80%;
  margin: auto;
  text-align: center;
}

section {
  width: 30%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  color: #555;
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

#items-list, #cart-list {
  margin-top: 20px;
  text-align: center;
}

#items-list li, #cart-list li {
  font-size: 20px;
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

#viewProducts, #viewCart{
  background-color: #e07d00;
  margin: auto;
  text-align: center;
}

/*Profile Page*/
#profilePage{
  width: 20%;
  margin: auto;
  text-align: center;
}

#signOutButton{
  background-color: darkred;
}